openapi: 3.0.3
info:
  title: Flexgrid Flex Offer API
  description: |-
    Interface for aggregating multiple Flex Offers into a single
    aggregated offer.

    The credentials for the API are from the central DB can be obtained
    by the ICCS team of the [FlexGrid project](https://flexgrid-project.eu)

    Use the central DB api defined at
    [https://db.flexgrid-project.eu/swagger/](https://db.flexgrid-project.eu/swagger/)
    for obtaining the objects for the requests (dr_prosumers, flex_request)
  contact:
    name: Dimitros J. Vergados
    url: https://flexgrid-project.eu
  license:
    name: GNU
  version: 1.0.1
servers:
  - url: https://flexoffers.flexgrid-project.eu/
paths:
  /flex-offers:
    post:
      tags:
        - Flex Offers (UCS 4.3)
      summary: Aggragates several Flex offers into a single offer
      description: |
        This endpoint is for aggregating flex offers

        The `flex_offers` field contains the `name` fields of the `flex_offers` that will be aggregated.
        To obtain the names use the central DB api defined here: [https://db.flexgrid-project.eu/swagger/#/Dr_prosumer/getflex_offers](https://db.flexgrid-project.eu/swagger/#/Dr_prosumer/getflex_offers)

        The `flex_request` field contains the `name` field of the `flex_request` that will be used for calculating the resulting revenues and quantities.
        To obtain the name use the central DB api defined here: [https://db.flexgrid-project.eu/swagger/#/Flex_request/getflex_requests](hhttps://db.flexgrid-project.eu/swagger/#/Flex_request/getflex_requests)

        It returns the an aggregated offer, and the expected cleance quantities and prices 

      operationId: flex_offers_post
      requestBody:
        $ref: "#/components/requestBodies/FlexOfferParams"
      responses:
        "201":
          description: operation has been successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlexOfferResult"
        "400":
          description: bad request
      security:
        - oAuth2: []
      x-openapi-router-controller: swagger_server.controllers.flex_offers_ucs43_controller
components:
  requestBodies:
    FlexOfferParams:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/FlexOfferParams"
  schemas:
    FlexOfferParams:
      required:
        - flex_offers
        - end_datetime
        - flex_request
        - start_datetime
      type: object
      properties:
        start_datetime:
          type: string
          format: date-time
          example: "2021-11-11T00:00:00Z"
        end_datetime:
          type: string
          format: date-time
          example: "2021-11-12T00:00:00Z"
        flex_offers:
          minItems: 1
          type: array
          items:
            type: string
          example: ["flex_offer_0", "flex_offer_0"]
        flex_request:
          type: string
          example: "flex_request_1_Low_Large"
    FlexOfferResult:
      type: object
      properties:
        aggr_flex_offer:
          type: object
          properties:
            name:
              type: string
            country:
              type: string
            location:
              type: object
              properties:
                name:
                  type: string
            data_points:
              type: array
              items:
                $ref: "#/components/schemas/FlexOfferDataPoint"
        expected_result:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
              quantity_kw:
                type: number
              price_euro_per_kw:
                type: number
              direction:
                type: string
    FlexOfferDataPoint:
      type: object
      properties:
        timestamp:
          type: string
        flexibility:
          type: array
          items:
            type: object
            properties:
              price_euro_per_kw:
                type: number
              quantity_kw:
                type: number
              direction:
                type: string
              minquantity:
                type: number
    # Plot:
    #   required:
    #     - serries
    #   type: object
    #   properties:
    #     serries:
    #       type: array
    #       items:
    #         $ref: "#/components/schemas/Plot_serries"
    #     title:
    #       type: string
    #       example: Ratio between AUW with B-RTP and AUW with RTP as a function of γ
    #     xlabel:
    #       type: string
    #       example: γ
    #     ylabel:
    #       type: string
    #       example: AUW with B-RTP(γ) / AUW with RTP (γ = 0)
    #     plot_type:
    #       type: string
    #       enum:
    #         - scatter
    #         - bar
    #       example: scatter
    # Plot_serries:
    #   required:
    #     - xvalues
    #     - yvalues
    #   type: object
    #   properties:
    #     xvalues:
    #       type: array
    #       items:
    #         type: number
    #         nullable: true
    #       example:
    #         - 0
    #         - 1

    #     yvalues:
    #       type: array
    #       items:
    #         type: number
    #         nullable: true
    #       example:
    #         - 0.0
    #         - 9.798959794453513
    #     legend:
    #       type: string
    #       example: "With RTP"

  securitySchemes:
    oAuth2:
      type: oauth2
      description: oAuth2 password credentials.
      flows:
        password:
          tokenUrl: https://db.flexgrid-project.eu/oauth/token
          scopes:
            post_flex_offers: post a flex offer scenario
      x-tokenInfoFunc: swagger_server.controllers.authorization_controller.check_oAuth2
      x-scopeValidateFunc: swagger_server.controllers.authorization_controller.check_oAuth2
security:
  - oAuth2: [post_flex_offers]
