openapi: 3.0.3
info:
  title: Flexgrid Stacked Revenues API
  description: "Interface for obtaining optimal bids in different markets, based\n\
    on flex assets that are available. \n\nThe credentials for the API are from the\
    \ central DB can be obtained\nby the ICCS team of the [FlexGrid project](https://flexgrid-project.eu)"
  contact:
    name: Dimitros J. Vergados
    url: https://flexgrid-project.eu
  license:
    name: GNU
  version: 1.0.1
servers:
- url: https://stacked-revenues-api.flexgrid-project.eu/
security:
- oAuth2:
  - post_flex_offers
paths:
  /stacked_revenues:
    post:
      tags:
      - StackedRevenues (UCS 2.3)
      summary: Initiates a simulation scenario for Stacked Revenues maximization
      operationId: stacked_revenues_post
      requestBody:
        $ref: '#/components/requestBodies/StackedRevenuesParams'
      responses:
        "201":
          description: operation has been successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StackedRevenuesResult'
        "400":
          description: bad request
      security:
      - oAuth2: []
      x-openapi-router-controller: swagger_server.controllers.stacked_revenues_ucs23_controller
components:
  schemas:
    PricingParams:
      required:
      - dr_prosumers
      - end_datetime
      - flex_request
      - gamma_values
      - profit_margin
      - start_datetime
      type: object
      properties:
        country:
          type: string
        start_datetime:
          type: string
          format: date-time
        end_datetime:
          type: string
          format: date-time
        time_granularity:
          $ref: '#/components/schemas/PricingParams_time_granularity'
        dr_prosumers:
          minItems: 1
          type: array
          items:
            type: string
        flex_request:
          type: string
        gamma_values:
          minItems: 1
          type: array
          items:
            type: number
        profit_margin:
          type: number
        flex_assets:
          type: array
          items:
            $ref: '#/components/schemas/PricingParams_flex_assets'
        storage_units:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/StorageUnit'
        curtailable_loads:
          type: array
          items:
            $ref: '#/components/schemas/PricingParams_curtailable_loads'
        flex_contracts:
          type: array
          items:
            $ref: '#/components/schemas/PricingParams_flex_contracts'
        store_data:
          type: boolean
    StorageUnit:
      required:
      - location
      type: object
      properties:
        power_capacity_KW:
          minimum: 0
          type: number
        energy_capacity_KWh:
          minimum: 0
          type: number
        inefficiency_rate_per_cent:
          maximum: 1
          minimum: 0
          type: number
        initial_SoC_per_cent:
          maximum: 1
          minimum: 0
          type: number
        final_SoC_per_cent:
          maximum: 1
          minimum: 0
          type: number
        location:
          $ref: '#/components/schemas/Location'
    DayOfferMatrixEuroMWh:
      required:
      - price_unit
      - values
      - volume_unit
      type: object
      properties:
        values:
          maxItems: 25
          minItems: 23
          type: array
          items:
            $ref: '#/components/schemas/DayOfferMatrixEuroMWh_values_1'
        per_price_vector:
          type: array
          items:
            $ref: '#/components/schemas/DayOfferMatrixEuroMWh_per_price_vector'
        price_unit:
          type: string
          enum:
          - €/MWh
        volume_unit:
          type: string
          enum:
          - MWh
          - kWh
    Location:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          enum:
          - DSO_AREA_1
          - DSO_AREA_2
          - DSO_AREA_3
          - DSO_AREA_4
          - DSO_AREA_5
        name:
          type: string
    DayOfferVector:
      maxItems: 25
      minItems: 23
      type: array
      items:
        $ref: '#/components/schemas/DayOfferVector_inner'
    StackedRevenuesParams:
      required:
      - country
      - markets
      - sdate
      - storage_units
      type: object
      properties:
        sdate:
          type: string
          format: date
        country:
          type: string
        markets:
          minItems: 1
          type: array
          items:
            type: string
            enum:
            - DAM
            - RM
            - FM
            - BM
        storage_units:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/StorageUnit'
    StackedRevenuesResult:
      required:
      - flex_offer
      - revenues
      - sdate
      type: object
      properties:
        sdate:
          type: string
          format: date
        flex_offer:
          type: array
          items:
            $ref: '#/components/schemas/StackedRevenuesResult_flex_offer'
        revenues:
          $ref: '#/components/schemas/StackedRevenuesResult_revenues'
      example:
        sdate: 2000-01-23
        flex_offer:
        - balancing_market_offer_down: null
          q-LMPs:
            price_unit: €/MVar
            volume_unit: MVar
            values: null
          reserve_market_offer_down: null
          storage_unit: storage_unit
          balancing_market_offer_up: null
          day_ahead_market_offer:
            price_unit: €/MWh
            volume_unit: MWh
            values:
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
          reserve_market_offer_up: null
          d-LMPs: null
        - balancing_market_offer_down: null
          q-LMPs:
            price_unit: €/MVar
            volume_unit: MVar
            values: null
          reserve_market_offer_down: null
          storage_unit: storage_unit
          balancing_market_offer_up: null
          day_ahead_market_offer:
            price_unit: €/MWh
            volume_unit: MWh
            values:
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
            - volume: 6.027456183070403
              end_timestamp: 2000-01-23T04:56:07.000+00:00
              start_timestamp: 2000-01-23T04:56:07.000+00:00
              price: 0.8008281904610115
          reserve_market_offer_up: null
          d-LMPs: null
        revenues:
          balancing_market_revenues: null
          reserve_market_revenues: null
          flexibility_market_revenues: null
          day_ahead_market_revenues:
            currency: €
            value: 1.4658129805029452
    DayOfferVectorEuroMWh:
      required:
      - price_unit
      - values
      - volume_unit
      type: object
      properties:
        values:
          $ref: '#/components/schemas/DayOfferVector'
        price_unit:
          type: string
          enum:
          - €/MWh
        volume_unit:
          type: string
          enum:
          - MWh
          - kWh
      example:
        price_unit: €/MWh
        volume_unit: MWh
        values:
        - volume: 6.027456183070403
          end_timestamp: 2000-01-23T04:56:07.000+00:00
          start_timestamp: 2000-01-23T04:56:07.000+00:00
          price: 0.8008281904610115
        - volume: 6.027456183070403
          end_timestamp: 2000-01-23T04:56:07.000+00:00
          start_timestamp: 2000-01-23T04:56:07.000+00:00
          price: 0.8008281904610115
        - volume: 6.027456183070403
          end_timestamp: 2000-01-23T04:56:07.000+00:00
          start_timestamp: 2000-01-23T04:56:07.000+00:00
          price: 0.8008281904610115
        - volume: 6.027456183070403
          end_timestamp: 2000-01-23T04:56:07.000+00:00
          start_timestamp: 2000-01-23T04:56:07.000+00:00
          price: 0.8008281904610115
        - volume: 6.027456183070403
          end_timestamp: 2000-01-23T04:56:07.000+00:00
          start_timestamp: 2000-01-23T04:56:07.000+00:00
          price: 0.8008281904610115
        - volume: 6.027456183070403
          end_timestamp: 2000-01-23T04:56:07.000+00:00
          start_timestamp: 2000-01-23T04:56:07.000+00:00
          price: 0.8008281904610115
        - volume: 6.027456183070403
          end_timestamp: 2000-01-23T04:56:07.000+00:00
          start_timestamp: 2000-01-23T04:56:07.000+00:00
          price: 0.8008281904610115
        - volume: 6.027456183070403
          end_timestamp: 2000-01-23T04:56:07.000+00:00
          start_timestamp: 2000-01-23T04:56:07.000+00:00
          price: 0.8008281904610115
        - volume: 6.027456183070403
          end_timestamp: 2000-01-23T04:56:07.000+00:00
          start_timestamp: 2000-01-23T04:56:07.000+00:00
          price: 0.8008281904610115
        - volume: 6.027456183070403
          end_timestamp: 2000-01-23T04:56:07.000+00:00
          start_timestamp: 2000-01-23T04:56:07.000+00:00
          price: 0.8008281904610115
    Price_In_Euro:
      required:
      - currency
      - value
      type: object
      properties:
        value:
          type: number
        currency:
          type: string
          enum:
          - €
      example:
        currency: €
        value: 1.4658129805029452
    PricingParams_time_granularity:
      type: object
      properties:
        id:
          type: string
        duration_seconds:
          type: integer
      example: null
    PricingParams_flex_assets:
      required:
      - consumer_id
      - location
      type: object
      properties:
        consumer_id:
          type: string
        reserve_market_offer_up:
          $ref: '#/components/schemas/DayOfferMatrixEuroMWh'
        reserve_market_offer_down:
          $ref: '#/components/schemas/DayOfferMatrixEuroMWh'
        location:
          $ref: '#/components/schemas/Location'
      example: null
    PricingParams_power_vector:
      type: object
      properties:
        start_timestamp:
          type: string
          format: date-time
        end_timestamp:
          type: string
          format: date-time
        power:
          type: number
      example: null
    PricingParams_curtailable_loads:
      type: object
      properties:
        consumer_id:
          type: string
        unit:
          type: string
          enum:
          - KW
        power_vector:
          type: array
          items:
            $ref: '#/components/schemas/PricingParams_power_vector'
        location:
          $ref: '#/components/schemas/Location'
      example: null
    PricingParams_flex_contracts:
      type: object
      properties:
        name:
          type: string
        id:
          type: number
        gamma:
          type: number
      example: null
    DayOfferMatrixEuroMWh_values:
      type: object
      properties:
        price:
          type: number
          format: currency
        volume:
          type: number
      example: null
    DayOfferMatrixEuroMWh_values_1:
      required:
      - end_timestamp
      - start_timestamp
      - values
      type: object
      properties:
        start_timestamp:
          type: string
          format: date-time
        end_timestamp:
          type: string
          format: date-time
        values:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/DayOfferMatrixEuroMWh_values'
      example: null
    DayOfferMatrixEuroMWh_per_price_vector:
      type: object
      properties:
        price:
          type: number
        values:
          $ref: '#/components/schemas/DayOfferVector'
      example: null
    DayOfferVector_inner:
      type: object
      properties:
        start_timestamp:
          type: string
          format: date-time
        end_timestamp:
          type: string
          format: date-time
        price:
          type: number
          format: currency
        volume:
          type: number
      example:
        volume: 6.027456183070403
        end_timestamp: 2000-01-23T04:56:07.000+00:00
        start_timestamp: 2000-01-23T04:56:07.000+00:00
        price: 0.8008281904610115
    StackedRevenuesResult_qLMPs:
      required:
      - price_unit
      - values
      - volume_unit
      type: object
      properties:
        values:
          $ref: '#/components/schemas/DayOfferVector'
        price_unit:
          type: string
          enum:
          - €/MVar
        volume_unit:
          type: string
          enum:
          - MVar
          - kVar
      example:
        price_unit: €/MVar
        volume_unit: MVar
        values: null
    StackedRevenuesResult_flex_offer:
      type: object
      properties:
        storage_unit:
          type: string
        day_ahead_market_offer:
          $ref: '#/components/schemas/DayOfferVectorEuroMWh'
        reserve_market_offer_up:
          $ref: '#/components/schemas/DayOfferVectorEuroMWh'
        reserve_market_offer_down:
          $ref: '#/components/schemas/DayOfferVectorEuroMWh'
        d-LMPs:
          $ref: '#/components/schemas/DayOfferVectorEuroMWh'
        q-LMPs:
          $ref: '#/components/schemas/StackedRevenuesResult_qLMPs'
        balancing_market_offer_up:
          $ref: '#/components/schemas/DayOfferVectorEuroMWh'
        balancing_market_offer_down:
          $ref: '#/components/schemas/DayOfferVectorEuroMWh'
      example:
        balancing_market_offer_down: null
        q-LMPs:
          price_unit: €/MVar
          volume_unit: MVar
          values: null
        reserve_market_offer_down: null
        storage_unit: storage_unit
        balancing_market_offer_up: null
        day_ahead_market_offer:
          price_unit: €/MWh
          volume_unit: MWh
          values:
          - volume: 6.027456183070403
            end_timestamp: 2000-01-23T04:56:07.000+00:00
            start_timestamp: 2000-01-23T04:56:07.000+00:00
            price: 0.8008281904610115
          - volume: 6.027456183070403
            end_timestamp: 2000-01-23T04:56:07.000+00:00
            start_timestamp: 2000-01-23T04:56:07.000+00:00
            price: 0.8008281904610115
          - volume: 6.027456183070403
            end_timestamp: 2000-01-23T04:56:07.000+00:00
            start_timestamp: 2000-01-23T04:56:07.000+00:00
            price: 0.8008281904610115
          - volume: 6.027456183070403
            end_timestamp: 2000-01-23T04:56:07.000+00:00
            start_timestamp: 2000-01-23T04:56:07.000+00:00
            price: 0.8008281904610115
          - volume: 6.027456183070403
            end_timestamp: 2000-01-23T04:56:07.000+00:00
            start_timestamp: 2000-01-23T04:56:07.000+00:00
            price: 0.8008281904610115
          - volume: 6.027456183070403
            end_timestamp: 2000-01-23T04:56:07.000+00:00
            start_timestamp: 2000-01-23T04:56:07.000+00:00
            price: 0.8008281904610115
          - volume: 6.027456183070403
            end_timestamp: 2000-01-23T04:56:07.000+00:00
            start_timestamp: 2000-01-23T04:56:07.000+00:00
            price: 0.8008281904610115
          - volume: 6.027456183070403
            end_timestamp: 2000-01-23T04:56:07.000+00:00
            start_timestamp: 2000-01-23T04:56:07.000+00:00
            price: 0.8008281904610115
          - volume: 6.027456183070403
            end_timestamp: 2000-01-23T04:56:07.000+00:00
            start_timestamp: 2000-01-23T04:56:07.000+00:00
            price: 0.8008281904610115
          - volume: 6.027456183070403
            end_timestamp: 2000-01-23T04:56:07.000+00:00
            start_timestamp: 2000-01-23T04:56:07.000+00:00
            price: 0.8008281904610115
        reserve_market_offer_up: null
        d-LMPs: null
    StackedRevenuesResult_revenues:
      type: object
      properties:
        day_ahead_market_revenues:
          $ref: '#/components/schemas/Price_In_Euro'
        reserve_market_revenues:
          $ref: '#/components/schemas/Price_In_Euro'
        flexibility_market_revenues:
          $ref: '#/components/schemas/Price_In_Euro'
        balancing_market_revenues:
          $ref: '#/components/schemas/Price_In_Euro'
      example:
        balancing_market_revenues: null
        reserve_market_revenues: null
        flexibility_market_revenues: null
        day_ahead_market_revenues:
          currency: €
          value: 1.4658129805029452
  requestBodies:
    StackedRevenuesParams:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StackedRevenuesParams'
  securitySchemes:
    oAuth2:
      type: oauth2
      description: oAuth2 password credentials.
      flows:
        password:
          tokenUrl: https://db.flexgrid-project.eu/oauth/token
          scopes:
            post_flex_offers: post a flex offer scenario
      x-tokenInfoFunc: swagger_server.controllers.authorization_controller.check_oAuth2
      x-scopeValidateFunc: swagger_server.controllers.authorization_controller.validate_scope_oAuth2

